/* Sidebar Text Styles */
.sidebar-text, .sidebar-text:hover, .sidebar-text:focus {
    color: #f4f4f4; /* Light color for contrast against the dark background */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

/* Main Wrapper */
#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* Sidebar Styles */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #34495e; /* Dark slate for the background */
    color: #f4f4f4; /* Light color for text for contrast */
    transition: all 0.3s;
}

/* Sidebar Active State */
.sidebar.active {
    margin-left: -250px;
}

/* Sidebar Header */
.sidebar-header {
    padding: 20px;
    background: #2c3e50; /* Slightly darker shade for header to differentiate */
}

/* Sidebar Components Style */
.sidebar-components {
    padding: 20px 0;
    border-bottom: 1px solid #4b7bec; /* Blue for a pop of color */
}

/* Sidebar Paragraph (if used) */
.sidebar-paragraph {
    color: #f4f4f4;
    padding: 10px;
}

/* Dropdown Toggle */
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* Right Arrow for Dropdown */
a.right-arrow[data-toggle="collapse"] {
    position: relative;
}

/* Sidebar Button */
.sidebar-button {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #f4f4f4; /* Ensure readability */
    background-color: transparent; /* Clear background */
}

/* Sidebar Button Hover Effect */
.sidebar-button:hover {
    color: #34495e; /* Dark color for contrast */
    background: #4b7bec; /* Bright blue for hover */
}

/* Sidebar Subitem */
.sidebar-subitem {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #34495e; /* Maintain the sidebar color */
    color: #bdc3c7; /* Slightly lighter shade for distinction */
}

/* Sidebar Call-to-Action Styles */
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #4b7bec; /* Bright blue for visibility */
    color: #f4f4f4; /* Light color for contrast */
}

/* Navigation Button */
a.nav-button {
    background: #4b7bec; /* Bright blue for visibility */
    color: #f4f4f4; /* Light color for contrast */
}

/* Positioning for Bottom Left Elements */
.bottomleft {
    bottom: 0;
    position: absolute;
    min-width: 250px;
    max-width: 250px;
}

/* Content Style for Padding Adjustment */
#content {
    width: 100%;
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
